@import "./reset.scss";
@import "./_variables.scss";
@import "./_typography.scss";

html {
  display: block; // Hack to prevent FOUC
}

body {
  background-color: #f8faf0;
  padding: 5rem;
}

ul {
  list-style-type: disc;
}
